[run]
branch = true
source =
	django_sonic_screwdriver
omit =
    manage.py
    django_sonic_screwdriver/apps/**/manage.py
    setup.py

[report]
exclude_lines =
    pragma: no cover

[html]
directory = htmlcov